.comment_clearfix
  .comment_content
    %p.comment_name
      %strong
        = comment.name
    %p.comment_body
      = comment.body
    %p.comment_time
      = time_ago_in_words(comment.created_at)
      Ago
  %p
    = link_to 'Delete', [comment.post, comment], method: :delete, class: 'button', data: {confirm: 'Are you sure?'}
